.root{
    -fx-background-color: linear-gradient(to bottom right, #cc99ff, #0033cc);
}
.label{
    -fx-font-family: "Sans Serif";
    -fx-text-fill: "white";
    -fx-font-size: 16;
}
.text-field{
    -fx-text-box-border: "white";
    -fx-focus-color: "white";
}

#countryNameLabel{
    -fx-font-size: 20;}

#factsLabel{
    -fx-font-size: 24;
    -fx-alignment: center;}

#factInfoLabel{
    -fx-alignment: top_center;}

#weatherForTodayLabel{
    -fx-font-size: 24;
    -fx-alignment: center;}

#cloudyLabel{
    -fx-font-size: 20;}

#temperatureLabel{
    -fx-font-size:42;}

#cityNameLabel{
    -fx-font-size:37;}

.highlight{
    -fx-background-color: #00000025;
    -fx-background-radius: 15;}